div.cover-wrapper {
	max-height: 160px;
	overflow: hidden;
}

md-card-title > span {
	background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    margin-top: -43px;
    padding: 10px;
	font-weight: bold;
	width: 100%
}

md-card {
	margin: 20px;
}