/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/theming';

@include mat-core();
$primary: mat-palette($mat-indigo, 800);
$accent:  mat-palette($mat-light-blue, 600, A100, A400);
$warn:    mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

html, body, app-root, md-sidenav-container {
  width: 100%;
  height: 100%;
  font-family: Roboto,"Helvetica Neue",sans-serif; 
  overflow:hidden;
  margin: 0px;
}

md-sidenav-container {
	.mat-sidenav-content {
		overflow: hidden;
	}
	
	md-sidenav {
		width: 250px;
		height: 100%;
		padding: 0px;
	
		.sidenav-title {
			background-color: mat-color($primary, lighter);
			line-height: 64px;
			text-indent: 20px;
			color: mat-color($primary);
			font-weight: bold;
			font-size: 16px;
		}
	}
}