<div mat-padding layout-gt-sx="column" layout-xs="row" layout-wrap>
	<div flex-gt-xs="none" flex-xs="100" *ngFor="let article of articleStore.articles() | async">
			<md-card class="mat-elevation-z2" mat-whiteframe="8" (click)="goToArticle(article)">
				<img md-card-image src="{{ article.getCover() }}">
				<md-card-header>
					<span class="md-card-title"> {{ article.title }} </span>
				</md-card-header>
				<md-card-content>
					<p>{{ article.description }}</p>
				</md-card-content>	
			</md-card>
	</div>
</div>